<div id="login-referencia">

   <div id="login-container">
      <h2>Pastry</h2>
      
      
      <form action="/auth/login" method="POST">

         <label class="signup-label">
            <input type="text" name="username" placeholder="Username">
         </label>

         <br>
         <label class="signup-label"> 
            <input type="text" name="password" placeholder="Password">
         </label>
         {{#if errorMessage}}
            <div class="error-message">
         {{errorMessage}}
      </div>
      {{/if}}
      <br>
         <button type="submit" class="btn-inicio">Submit</button>
      </form>
   </div>

</div>
