<div id="signup-referencia">
  <div id="signup-container">
    <h2>Pastry</h2>

    <form action="/auth/signup" method="POST">

      <label class="signup-label">
        <input type="text" name="username" placeholder="Username" />
      </label>
      <br />
      <label class="signup-label" for="email">
        <input type="email" name="email" placeholder="Email" />
      </label>

      <br />
      <label class="signup-label" for="password">
        <input type="password" name="password" placeholder="Contraseña" />
      </label>
      {{#if errorMessage}}
        <div class="error-message">
          {{errorMessage}}
        </div>
      {{/if}}
      <br />
      <button type="submit" class="btn-inicio">Registro</button>
    </form>

  </div>
</div>