   <div id="signup-container">
<h2>Formulario de Registro</h2>

<form action="/auth/signup" method="POST">

   <label class="signup-label">Username:
   <input type="text" name="username">
   </label>

<br>
    <label class="signup-label" for="email">Email:
    <input type="email" name="email" >
    </label>
<br>
  <label class="signup-label" for="password">Contraseña:
    <input type="password" name="password" >
</label>
<br>
    <button type="submit">Registro</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
   </div>