   <div id="signup-container">
<h2>Bienvenido a Pastry</h2>

<form action="/auth/signup" method="POST">

   <label class="signup-label">
   <input type="text" name="username" placeholder="Username">
   </label>
      {{#if errorMessage}}
         {{errorMessage}}
      {{/if}}
<br>
    <label class="signup-label" for="email">
    <input type="email" name="email" placeholder="Email">
    </label>
      {{#if errorMessage}}
         {{errorMessage}}
      {{/if}}
<br>
  <label class="signup-label" for="password">
    <input type="password" name="password" placeholder="Contraseña">
      {{#if errorMessage}}
         {{errorMessage}}
      {{/if}}
</label>
<br>
    <button type="submit">Registro</button>
</form>


   </div>