<h1>Crear receta</h1>
<div>
    <div>
        <form method="POST" action="/perfil/crear-receta" enctype="multipart/form-data">

        <label for="receta-img">
        <input type="file" name="receta-img">
        </label>
        

        <label for="nombre">Nombre receta:
        <input type="text" name="nombre">
        </label>

        <label for="duracion">Duración:
        <input type="text" name="duracion">
        </label>

        <label for="dificultad">Dificultad:
        <input type="text" name="dificultad">
        </label>

        <button>Crear Receta</button>
        </form>


    </div>



</div>





<div></div>