<div class="lista-recetas">
<h2>Crear receta</h2>
    <div>
      <div class="crear-container">
        <form method="POST" action="/perfil/crear-receta" enctype="multipart/form-data">
        <label for="receta-img">
        <input type="file" name="receta-img">
        </label>
      </div>
        
  <div class="crear-container">
        <label for="nombre">Nombre receta:
        <input type="text" name="nombre">
        </label>

        <label for="duracion">Duración:
        <input type="text" name="duracion">
        </label>
  </div>


<div class="crear-container">

<div class="dif-tipo">

<p>Dificultad:</p>

<div>
  <input type="radio" name="dificultad" value="Alta"
         checked>
  <label for="Alta">Alta</label>
</div>

<div>
  <input type="radio" id="" name="dificultad" value="Media">
  <label for="media">Media</label>
</div>

<div>
  <input type="radio" id="" name="dificultad" value="Baja">
  <label for="Baja">Baja</label>
</div>
</div>

<div class="dif-tipo">

<p>Tipo receta:</p>

<div>
  <input type="radio" id="" name="tipo" value="Dulce"
         checked>
  <label for="Dulce">Dulce</label>
</div>

<div>
  <input type="radio" id="" name="tipo" value="Saludable">
  <label for="Saludable">Saludable</label>
</div>

<div>
  <input type="radio" id="" name="tipo" value="Sin-gluten">
  <label for="Sin gluten">Sin gluten</label>
</div>
            
        {{#each crearReceta}}
        <option value={{this.tipo}}>{{this.tipo}}</option>
        {{/each}}
        </select>

</div>
</div>
    <div class="crear-btn">
        <button class="btn-inicio">Crear Receta</button>
    </div>
        </form>
    </div>

</div>





