<div id="lista-recetas">
  <h2>Recetario</h2>
    <div class="recetario">
      <div class="tipo-receta">
        <a href="/recetario/dulce">
          <button>
            <h3>A nadie le amarga un dulce!</h3>
            <img src="/images/..." alt="Receta dulce" />
          </button>
        </a>
      </div>
      <div>
        <a href="recetario/saludable">
          <button>
            <h3>Dulces saludables</h3>
            <img src="/images/..." alt="Receta saludable" />
          </button>
        </a>
      </div>
      <div>
        <a href="recetario/sin-gluten">
          <button>
            <h3>Fuera gluten</h3>
            <img src="/images/..." alt="Recetas sin gluten" />
          </button>
        </a>
      </div>
  </div>
</div>