<div class="lista-recetas">
  <h2>Recetario</h2>
    <div class="recetario">
      <div class="tipo-receta">
        <a href="/recetario/dulce">
          <button class="btn-receta">
            <h3>A nadie le amarga un dulce!</h3>
            <img src="/images/recetas-img/bizcocho-chocolate.jpeg" alt="Receta dulce" />
          </button>
        </a>
      </div>
      <div class="tipo-receta">
        <a href="recetario/saludable">
          <button class="btn-receta">
            <h3>Dulces saludables</h3>
            <img src="/images/recetas-img/crepes-light.jpeg" alt="Receta saludable" />
          </button>
        </a>
      </div>
      <div class="tipo-receta">
        <a href="recetario/sin-gluten">
          <button class="btn-receta">
            <h3>Fuera gluten</h3>
            <img src="/images/recetas-img/brownie.jpeg" alt="Recetas sin gluten" />
          </button>
        </a>
      </div>
  </div>
</div>