<div>
  <div><h2>Recetas {{tipoDulce.tipo }}</h2></div>
  {{#each tipoDulce}}
  <div> 
    <a href="/recetario/{{this._id}}/detalles">
      <button>
        <h3>{{this.nombre}}</h3>
        <img src="{{this.imagen}}" alt="Receta dulce"/>
      </button>
    </a>
  </div>
  {{/each}}
  